<html>
<style>
@font-face { font-family: 'Open-Sans'; src: url('https://dbschema.com/fonts/OpenSans-Regular.woff2') format('woff2'); font-display: swap;}
@font-face { font-family: 'Open-Sans-SemiBold'; src: url('https://dbschema.com/fonts/OpenSans-SemiBold.woff2') format('woff2'); font-display: swap;}
@font-face { font-family: 'Open-Sans-Bold'; src: url('https://dbschema.com/fonts/OpenSans-Bold.woff2') format('woff2'); font-display: swap;}
@font-face { font-family: 'DINCondensed-Bold'; src: url('https://dbschema.com/fonts/DINCondensed-Bold.woff2') format('woff2'); font-display: swap;}

body {font-family: 'Open-Sans', 'Segoe UI', Verdana, Helvetica; line-height: 1.8em; font-size:0.95em; }
h1 {color:#739cd1; margin-top:0;margin-bottom:0;}
h2 {color:#739cd1; margin-top:0;margin-bottom:0; font-weight:normal; font-size:1.2em; }
h3 {color:#739cd1; margin-top:0;margin-bottom:0;}
pre {font-family: Monospaced; color:#111111;}
ul {list-style-type: circle; margin-left:15px; padding-left:15px;}
span { background-color:#1d3e01; border-radius: 5px; font-weight:500; }
b { color:#b36e1d; }
li {margin: 2px;}
.textBold{color:#c1bd80;font-weight:bold;}
.textKey{color:#d2af5c;}
.btn {
  text-decoration: none;
  background-color: #065b8c;
  color: #ffffff;
  padding: 4px 9px 4px 9px;
  border-radius: 10px;
  border: 0px solid #777777;
}
.icon { margin: 0; }
.imgLeft { float:left; margin:5px 25px 5px 0; vertical-align:middle; }
.imgRight { float:right; margin:5px 25px 5px 0; vertical-align:middle; }
.imgScale { image-rendering: crisp-edges;-ms-interpolation-mode: nearest-neighbor; transform: scale(0.90, 0.90); -ms-transform: scale(0.90, 0.90); -webkit-transform: scale(0.90, 0.90); }

.imgContainer { position:relative; }
.imgContainer img { display: inline-block; position: relative; top: 0; right:0; image-rendering: crisp-edges;-ms-interpolation-mode: nearest-neighbor;}
.imgContainer div {
  position: absolute;
  font-family: DINCondensed-Bold,Sans Serif, Segoe UI;
  padding: 5px;
  color: #e2e2d1;
  background: #424d5d; /* linear-gradient(to bottom, #424d5d77, #424d5dff); */
  border: 1px solid #333333;
  border-radius: 2px;
  box-shadow: 5px 5px 5px #24251a;
  margin: 0 auto;
}
.yellow-div {
  color: #dccfc0;
  background-color: #333123;
  border: 1px solid #676133;
  display: flex;
  align-items: center;
  padding: 10px;
}
.yellow-div img { margin-right: 10px; background-color: transparent; }
.yellow-div .text { flex: 1; background-color: transparent; }

</style>
<body>